h1.title {
    margin-bottom: 0;
}

h5.title {
    margin-top: 0;
}

.shopify {
    color: green;
    font-weight: bold;
}

.bassel {
    color: blue;
}

#create {
    padding: 15px 0;
}

.item {
    margin-bottom: 5px;
}