<%= form_with model: [ @item, @item.deletions.build ] do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>